<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gripper" >
   <link name="charger">
    <visual>
      <geometry>
        <mesh filename="package://dsr_description/meshes/gripper/charger/peg_sim.dae" />
      </geometry>
      <material name="dr_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://dsr_description/meshes/gripper/charger/peg_sim.dae" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0   0  0.06" rpy="0 0 0" />
      <mass value="0.280" />
      <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
               iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>

  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 -0.0065" rpy="0 0 0" />
    <parent link="link6"/>
    <child link="charger"/>
  </joint>

 
</robot>
